*.suo
AquariumAPI/obj/
.vs/
DB/bin/
DB/obj/
*.log
DAL/obj/
Models/obj/
AquariumAPI/bin/
Models/bin/
DAL/bin/
packages/
DAL.Tests/bin/
DAL.Tests/obj/
*.user
BusinessLogic/bin/
BusinessLogic/obj/
DB/DB.dbmdl
DB/DB.jfm
Models.Tests/bin/
Models.Tests/obj/
UpgradeLog.htm
BusinessLogic.Tests/obj/
BusinessLogic.Tests/bin/
AquariumAPI.Tests/bin/
AquariumAPI.Tests/obj/
Pwned/bin/
Pwned/obj/
